<%- include('../partials/header') %>
<div class= bike-pic>
<h1>Biking Trails near Salt Lake</h1>

<p><a href="/trails/bike/new">Add Trail</a></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Mileage</th>
      <th>Rating</th>
      <th>Trail Style</th>
    </tr>
  </thead>
  <tbody>
    <% bikingTrails.forEach(trail => { %>
      <tr>
        <td><p><a href="/trails/bike/<%= trail.id %>"><%= trail.name %></a></p></td>
        <td><%= trail.difficulty %></td>
        <td><%= trail.mileage %></td>
        <td><%= trail.rating %> / 5</td>   
        <td><%= trail.trailStyle %></td>  
      
    </tr>
    <% }); %>
  </tbody>
</table>
</div>
<%- include('../partials/footer') %>
