<%- include('../partials/header') %>
<div class= hike-pic>
<h1>Hiking Trails near Salt Lake</h1>
<div class = "link-container"></div>
<p><a href="/trails/hike/new">Add Trail</a></p>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Mileage</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% hikingTrails.forEach(trail => { %>
      <tr>
        <td><p><a href="/trails/hike/<%= trail.id %>"><%= trail.name %></a></p></td>
        <td><%= trail.difficulty %></td>
        <td><%= trail.mileage %></td>
        <td><%= trail.rating %></td>   
 
    </tr>
    <% }); %>
  </tbody>
</table>
<div>
<%- include('../partials/footer') %>
